<h2>通知一覧</h2>
<% @notifications.each do |n| %>
  <% if n.action == 'comment' %>
    <p>
      <%= User.find(n.visitor_id).name %> さんが
      あなたの <%= link_to "投稿", n.post %> にコメントしました！
    </p>
  <% end %>

  <% if notification.action == 'like' %>
    <%= link_to notification.visitor.name, notification.visitor %> さんが
    あなたの <%= link_to "投稿", notification.post %> にいいねしました！
  <% end %>

  <% if notification.action == 'follow' %>
    <%= link_to notification.visitor.name, notification.visitor %> さんにフォローされました！
  <% end %>
<% end %>

