<!DOCTYPE html>
<html>
  <head>
    <title>NotifyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to notifications_path do %>
      🔔 通知
      <% if unchecked_notifications_count(current_user) > 0 %>
        <span style="color: red; font-weight: bold;">
          (<%= unchecked_notifications_count(current_user) %>)
        </span>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
